name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build and check
        run: |
          python setup.py sdist bdist_wheel
          twine check dist/*
      - name: Upload package
        uses: actions/upload-artifact@v6
        with:
          name: packages
          path: dist/
          if-no-files-found: error
          compression-level: 0

  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/dateparser

    steps:
      - name: Download package
        uses: actions/download-artifact@v7
        with:
          name: packages
          path: dist/
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true
          verbose: true
